<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Order Confirmed</title>
  </head>
  <body>
    <h1>Thanks for ordering, <%= userData.givenName %>!</h1>
    <p>
      Your order of <%= userData.order %> will be sent to your home in
      <%= userData.province %>, Canada. Thank you for participating!
    </p>
  </body>
</html>
